@import './variables.scss';

body {
    background-color: $background-color;
}

.page {
    font-family: $main-font;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    color: $white;
    position: relative;
    // To Do: how move dynamic bg as not z-index: -1 but as real bg
    opacity: .9999;

    .about-animation {
        position: relative;

        video {
            width: 100%;
        }

        img {
            width: 100%;
        }
    }

    .introduction {
        height: 100vh;
    }
}

.btn-enter {
    height: 50px;
    width: 230px;
    margin: 70px 0;

    box-sizing: border-box;
    // To Do: check (investigate, improve) styles
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    background-color: transparent;
    border: 2px solid #fff;
    font-size: 1rem;
    line-height: 1;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    color: $red;

    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: 0 0 40px 40px #fff inset, 0 0 0 0 #fff;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;

    cursor: pointer;
    font-family: $main-font;

    &:hover {
        color: #fff;
        outline: 0;
        box-shadow: 0 0 10px 0 #fff inset, 0 0 10px 4px #fff;
    }
}
