// TO DO: use local font or import from net?

@import url('https://fonts.googleapis.com/css2?family=Exo+2&display=swap');

$main-font: 'Exo 2', sans-serif;

$red: #c1232a;
$white: #cfcfcf;
$background-color: #111;
